@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');
*{
    color: rgb(172, 97, 109);
}
body {
    font-family: 'STIX Two Text', sans-serif;
}

:root {
    --royal-pink:#ffd2d2;
    --space-blue: #ffc3c3;
    --space-blue-2: #ffb7b7;
    --royal-blue-dark: #ff9d9d;
    --pinky-pink:gold ;
}

.bg-rblue {
    background-color: var(--space-blue)!important;
}

.text-rblue {
    color: var(--space-blue)!important;
}

.btn-rblue {
    color: #fff;
    background-color: var(--space-blue);
    border-color: var(--space-blue-2);
}

.btn-outline-rblue {
    color: var(--space-blue);
    border-color: var(--space-blue-2);
    background-color: #fff;
}
/**
.btn-outline-rblue:hover {
    color: #fff;
    background-color: var(--space-blue);
    border-color: #4973f3;
}

.btn-rblue:hover {
    color: var(--space-blue)!important; 
    background-color: #fff;
    border-color: #4973f3;
}
***/

.btn-rblue:hover {    
    color: #fff!important; 
}

.bg-ppink {
    background-color: #ff69b4!important;
}

.text-ppink {
    color: #ff69b4!important;
}

.btn-ppink {
    color: #fff;
    background-color: #ff69b4;
    border-color: #fa5fad;
}

.btn-ppink:hover {
    /** Left To Add **/
    color: #fff;
    background-color: #ff69b4;
    border-color: #fa5fad;
}

/*** New Color: Pink Data Ends ***/

.btn-pink {
    background-color: #ff69b4!important; 
    border-color: #ff69b4!important;
}

.btn-outline-pink {
    color: #ff69b4; 
    border-color: #ff69b4!important;
}

.btn-outline-pink:hover {
    color: #fff;
    background-color: #ff69b4!important; 
    border-color: #ff69b4!important;
}

/*** New Color: Pink Data Ends [OLD] ***/



/** Basic Design **/

.btn:hover {
    box-shadow: 0 4px 6px rgb(50 50 93 / 40%), 0 1px 3px rgb(0 0 0 / 24%);
    transform: translateY(-1px);
}

.card {
    border-radius: 0;
    border: none!important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.barbottom {
    border-bottom: 10px solid white;
    display: inline-block;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.nav-link {
    color: #fff!important;
}

.intro-post-body {
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-inner-body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-post-body .cardy-title {
    margin-bottom: 28px;
    margin-top: 14px;
}

.intro-post-body .cardy-text {
    margin-bottom: 18px;
}

.about-me-img {
    border-radius: 50%;
    height: 420px;
    width: 420px;
    object-fit: cover;
    object-position: top;
}

@media (max-width: 600px) {
    .about-me-img {
        border-radius: 50%;
        height: 300px;
        width: 300px;
        top: 0px!important;
        right: 0px!important;
        object-fit: cover;
        object-position: top;
    }
}

@media (max-width: 1000px) {
    .intro-post-body .card-title {
        font-size: 40px;
        margin-bottom: 24px;
    }

    .intro-post-body .card-text {
        font-size: 38px;
    }

    .about-me-img {
        border-radius: 50%;
        height: 320px;
        width: 320px;
        object-fit: cover;
        object-position: top;
    }

    .profile-img {
        height: 100%;
        object-fit: contain;
    }

    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
}

.nav-item a, .navbar-brand {
    font-size: 18px;
    font-weight: 600;
    /*color: #fff!important;*/
}

.our-services-inner img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.our-services-inner .card {
    transition: transform .2s ease, box-shadow .2s ease, -webkit-transform .2s ease;
}

.our-services-inner .card:hover {
    transform: translateY(-5px);
    /*box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);*/
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.row-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.row-grid-360e-40g {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.row-grid-340e-40g {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.row-grid-360e-20g {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.card-img-overlay-bottom {
    position: absolute;
    /* top: 0; */
    right: 0;
    bottom: -1px;
    left: 0;
    padding: 2rem;
    
}
.card-img-overlay-bottom img{
    height: 10px;
}
.modal-content {
    border: none;
    border-radius: unset;
}

.modal-header, .modal-body {
    padding: 0.8rem;
}

.color-shadow-left {
    color: #fff;
    height: 100%;
    width: 100%;
    background-color: var(--space-blue); 
    border-color: var(--space-blue);
    position: absolute; 
    z-index: -1; 
    left: -10px; 
    bottom: -10px;
}


.our-recent-events-inner img {
    height: 245px;
    object-fit: cover;
}

/**** ***/

font-checker {
    position: fixed; 
    top: 200px; 
    right: -240px;
    transition: right 0.5s;
}

font-checker.active {
    right: 20px;
}
.review{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1rem;
}
  .review .box {
    border-radius: 3rem;
    background: pink;
    padding: .7rem;
    position: relative;
    margin: 60px;
    width: 450px;
    width: 400px;
    margin-left: 150px;
  }
  
  .review .box .fa-quote-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #ff6e31;
    font-size: 2rem;
  }
  
  .review .box .user {
    display: flex;
    align-items: center;
    gap: -.1rem;
    padding-bottom: 1rem;
  }
  
  .review .box .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .review .box .user h3 {
    font-size:1.5rem;
    color: #fff;
  }
  
  .review .box .user span {
    font-size: 1rem;
    color: #eee;
  }
  
  .review .box p {
    line-height: 1.5;
    color: #eee;
    padding: 0.2rem 0;
    font-size: 1.3rem;
  }
  
  .contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
  }
  
  .contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact form .inputBox input,
  .contact form textarea {
    width: 60%;
    height: 60px;
    background:pink;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.7rem 0;
    font-size: 1.2rem;
    color: #fff;
    text-transform: none;
  }
  
  .contact form .inputBox input::placeholder,
  .contact form textarea::placeholder {
    color:rgb(172, 97, 109);
    text-transform: capitalize;
  }
  
  .contact form .inputBox input:focus,
  .contact form textarea:focus {
    background:pink;
  }
  
  .contact form .inputBox input {
    width: 25%;
    height: 15px;
  }
  
  .contact form textarea {
    resize: none;
  }

/**** ***/



/*** Image Recent View Slider ******/


.img-slider-container {
    min-width: 350px;
    height: 300px;
    padding: 0px 25px;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1.8rem;
    user-select: none; /* User Cannot Select it*/
    cursor: pointer;
    transition: all 0.6s;
}

.img-slider-container.active {
    cursor: grabbing;
}

.img-slider-container img {
    width: 320px;
    height: 280px;
    object-fit: cover;
    transition: all 0.6s ease;
}


::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: pink;
}

::-webkit-scrollbar-thumb:horizontal{
    background: pink;
    border-radius: 10px;
}
/*** Image Recent View Slider ENDS ******/

/**************************** Whats App ********************************/

.whatsapp-float-btn {
    position: fixed; /* Very Crucial */
    width: 320px;
    height: 60px;
    left: 18px; 
    bottom: 40px;
    z-index: 3;
    display: flex; /* Make It FlexBox */
}

.whatsapp-float-btn-icon {
    height: 64px;
    width: 64px;
    bottom: 36px;
    border-radius: 50%;
}

.whatsapp-float-btn-text {
    padding-left: 6px;
    font-size: 16px;
    color: #000000;
}

.whatsapp-float-btn-text:hover {
    background-color: #fff!important;
    color: #000!important;
}

.whatsapp-float-btn, .whatsapp-float-btn * {
    transition: all 0.4s ease;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.whatsapp-float-btn {
    animation: bounce 1.6s infinite;
}

/**************************** Whats App ********************************/